@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --medium-brown: #171212;
  --dark-brown: #0e0b0b;
  --green: #1eb854;
  --yellow: #d99330;
  --white: #d2cbcb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: var(--dark-brown);
  text-transform: uppercase;
  min-height: 100vh;
  background-color: var(--dark-brown);
}
.loading {
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
}
.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 1s ease;
}
/* timer */
.timerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 40px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.timerContainer::after {
  content: "GMT 00:00";
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  opacity: 0.8;
}
.timerTitle {
  text-align: center;
  padding: 50px;
}
.timerDate {
  text-align: center;
  margin-bottom: 10px;
}
.boxesContainer {
  display: flex;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: var(--dark-brown);
  color: var(--white);
}
/* select */
.selectContainer {
  text-align: center;
  margin: 50px;
}
.selectTitle {
  font-weight: 400;
  margin-bottom: 20px;
}
.selectContainer select {
  cursor: pointer;
  background-color: var(--yellow);
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px 20px;
}
.select {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
}
/* image classes */
.newYears {
  background-image: url("./assets/pictures/new_years.jpg");
  animation: fadeIn 1s ease;
  transition: 1s ease;
}
.halloween {
  background-image: url("./assets/pictures/halloween.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: 1s ease;
}
.christmas {
  background-image: url("./assets/pictures/christmas.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: 1s ease;
}
.allSaints {
  background-image: url("./assets/pictures/allSaints.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: all 1s ease;
}
.epiphany {
  background-image: url("./assets/pictures/epiphany.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: all 1s ease;
}
.valentines {
  background-image: url("./assets/pictures/valentines.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: all 1s ease;
}
.stPartricks {
  background-image: url("./assets/pictures/stPatricks.jpg");
  filter: blur(4px);
  transform: scale(1.03);
  animation: fadeIn 1s ease;
  transition: all 1s ease;
}
/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* media queries */
@media (max-width: 1000px) {
  .timerContainer {
    backdrop-filter: none;
    background: none;
    box-shadow: none;
  }
  .timerContainer {
    margin-top: 50px;
  }
  .boxesContainer {
    align-items: center;
    flex-direction: column;
  }
  .box {
    margin: 10px;
  }
}
@media (max-width: 600px) {
  .timerTitle {
    font-size: 1.4rem;
  }
  .timerContainer {
    margin: 10px;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .timerTitle {
    padding: 30px;
    padding-bottom: 20px;
  }
  .timerDate {
  }
  .timerContainer {
    margin-top: 10px;
  }
  .box {
    height: 110px;
    width: 110px;
    font-size: 0.7rem;
    margin: 5px;
  }
  .select {
    width: 90%;
    font-size: 0.9rem;
  }
}
