@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* timer */
.timerContainer {
  display: flex;
  padding: 0px;
  border: 2px solid steelblue;
  padding: 50px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid salmon;
  width: 200px;
  height: 200px;
  margin: 20px;
}
